.animationTrasformlate{
    animation: traslatebottomtotop 0.5s;
}
@keyframes traslatebottomtotop{
    from{
        transform: translateY(83.3%);
    }
    to{
        transform: translateY(0%);
    }
}
.notepadTranslate{
    animation: notepadtransition 0.5s
}
@keyframes notepadtransition{
    from{
        transform: translateY(83.3%);
        width: 0;
    }
    to{
        transform: translateY(0%);
        width: 75%;
    }
}
.menu-file{
    position: absolute;
    
    
}
.showeffect{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2),
                1px 3px 15px rgba(0,0,0,0.2);
}

